* {
    font-family: Poppins; 
}

*, ::after, ::before {
    box-sizing: unset !important;
}

.sectionOne {
    padding: 20px;
    background: #001E27;
}

.sectionTwo {
    padding: 20px;
    background: #EEF8FA;
}

.sectionThree {
    padding: 0;
    margin: 0;
}

.sectionFour {
    padding: 20px;
}

.sectionFive {
    background: #EAF8F9;
    padding: 20px;
    margin: 0;
}

footer {
    background: #001E27;
    padding: 1px;
    text-align: center;
}

header {
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: #00E2F4;
    color: #FFF;
    padding: 4px 0px;
    gap: 16px; 
}

.row > * {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.row {
    margin: 5px;
}

.col{
    padding: 1px;
}

.banner {
    width: 100%;
}

.col-8{
    padding: 1px;
}

.col-4{
    padding: 1px;
}